@import "~bootstrap/dist/css/bootstrap.min.css";

.header{
    font-family: sans-serif;
    font-weight: 500;
}

.nombre{
    font-family: sans-serif;
    font-weight: bolder;
}
.list{
    list-style-type: none;
    font-family: sans-serif;
    padding: 0;
}

.label{
    font-weight: 600;
}

.boton{
    font-size: smaller;
    font-weight: 600;
}


.boton-nuevo-contacto{
    font-size: smaller;
    font-weight: 600;
    font-family: sans-serif;
}

.contact{
    padding-right: 4em;
    font-weight: 200;
}