<div class="container">
    <div class="row mt-4">
        <div class="col">
            <h4 class="header">CONTACTOS</h4>
        </div>
        <div class="col">
            <button class="btn btn-primary boton-nuevo-contacto" [routerLink]="['/contacto']">NUEVO CONTACTO</button>
        </div>
    </div>

    <div class="mt-4">
        <ul class="list">
            <li *ngFor="let contacto of contactos">
                <div class="container-fluid">

                    <div class="row mt-3">
                        <div class="col">    
                            <div>
                                <h5 class="nombre">{{contacto.nombre}}</h5>
                            </div>
                            <div class="row">
                                <div *ngIf="contacto.celular" class="col-3 align-middle">
                                    <span class="label ">celular:</span><span class="contact align-middle">{{contacto.celular}}</span>
                                </div>
                                <div *ngIf="contacto.email" class="col-3 align-middle">
                                    <span  class="label">email:</span><span class="contact align-middle">{{contacto.email}}</span>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col">
        
                            <button class="btn btn-primary btn-sm boton" [routerLink]="['/contacto', contacto.id]">EDITAR</button>
                            <button class="btn btn-danger btn-sm boton" (click)="borrarContacto(contacto.id)">BORRAR</button>
                        </div>
                    </div>
                </div>
            </li>
        </ul>        
    </div>    

</div>
